<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.dashboard'), href: dashboard_path, icon: :grid)) %>
</li>

<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.company_center'), href: admin_companies_path, icon: :home)) %>
</li>

<li>
  <%= render(NavLinkComponent.new(title: Tender.model_name.human.pluralize, href: tenders_path, icon: 'file-text')) %>
</li>

<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.requests_offers'), href: requests_path, icon: 'file-text', active_strategy: :inclusive)) %>
</li>

<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.orders_and_invoices'), href: orders_path, icon: :tag, active_strategy: /order|invoice/)) %>

  <ul>
    <li>
      <%= render(NavLinkComponent.new(title: t('layouts.application.orders'), href: orders_path, icon: :tag)) %>
    </li>
    <li>
      <%= render(NavLinkComponent.new(title: t('layouts.application.invoices'), href: invoices_path, icon: :'file-text')) %>
    </li>
  </ul>
</li>

<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.message_center'), href: "#", icon: "message-circle")) %>
</li>

<%= tag.li do %>
  <%= render(NavLinkComponent.new(title: t('layouts.application.reports'), href: admin_reports_path, icon: "pie-chart")) %>
<% end%>

<%= tag.li do %>
  <%= render(NavLinkComponent.new(title: t('layouts.application.system_settings'), href: admin_settings_path, icon: :settings)) %>
<% end %>

<li>
  <%= render(NavLinkComponent.new(title: t('layouts.application.document_library'), href: documents_path, icon: :file)) %>
</li>
