<!DOCTYPE html>
<html lang="<%= locale -%>">
<%= render "shared/head" %>

<body class="session">
  <%= render 'shared/google_tag_manager_no_script' %>
  <div class="l-grid">
    <div class="l-grid-span--12 l-grid-span--10-md l-grid-start--2-md">
      <div class="session__container <%= 'session__container--single' if params[:controller].include? "onboarding" %> l-container l-grid <%= content_for(:container_modifier) %>">
        <div class="session__form">
          <h1 class="h2"><%= content_for(:heading) -%></h1>
          <p class="subhead"><%= content_for(:subheading) -%></p>
          <%= render('shared/flashes') %>
          <%= yield -%>
        </div>
        <div class="session__title-card">
          <div class="session__logo">
            <%= image_tag('vl_reverse_color.png') %>
          </div>
          <p class="subtitle"><%= t('devise.registrations.new.register_message') %></p>
          <% if defined?(resource_name) %>
            <% if controller_name != 'sessions' && controller_name != 'passwords' %>
              <p class="session__prompt">
                <%= t('.already_have_an_account') %>
                <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource_name), class: "reverse d--block u-mt3 u-mb0", style: "font-size: 2.8rem;" %>
              </p>
            <% end -%>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'confirmations' %>
              <p class="session__prompt">
                <%= link_to  "#{t('.dont_have_an_account')} #{t("devise.shared.links.sign_up")}", new_registration_path(resource_name), class: "button button--transparent u-mla u-mr2" %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="l-grid-span--12 l-grid-span--10-md l-grid-start--2-md">
      <div class="session__footer">
        <% if defined?(resource_name) %>
          <% if controller_name != 'sessions' && controller_name != 'passwords' %>
            <p class="session__prompt">
              <%= t('.already_have_an_account') %>
              <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource_name), class: "reverse d--block u-mt3 u-mb0", style:"font-size: 2.8rem;" %>
            </p>
          <% end -%>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'confirmations' %>
            <p class="session__prompt">
              <%= link_to "#{t('.dont_have_an_account')} #{t("devise.shared.links.sign_up")}", new_registration_path(resource_name), class: "button button--transparent" %>
            </p>
          <% end %>
        <% end %>
        <span>&copy; <%= t('.virtual_lab') -%> <%= Date.current.year -%></span>
      </div>
    </div>
  </div>

  <%= render "svg/clip-paths" %>
  </body>
</html>
